.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIAQUERY lezioni */
/* common */
@media screen and (max-width: 420px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #lezioni .row,
  #steps .row,
  #why .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1;
  }

  #lezioni h1,
  #steps h1,
  #why h1 {
    font-size: 22px;
    margin-bottom: 0;
  }

  #lezioni h1 {
    margin-bottom: 10%;
  }

  #lezioni.container,
  #why.container {
    background-color: #F2F2CD;
    display: flex;
  }

  #lezioni h3,
  #steps h3,
  #why h3 {
    margin: 0;
  }
/* fine common */

/* lezioni  */
  #lezioni .row>.left, img {
    display: block;
    object-fit: contain;
    width: 50%;
    height: 50%;
  }

  #lezioni .row>.right, img {
    display: block;
    object-fit: contain;
    width: 50%;
    height: 50%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 95%;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

/* fine lezioni  */

/* inizio steps  */
  #steps.container {
    background-color: #FFFFFF;
    display: flex;
  }

 #steps .row>.left, img {
    width: 40%;
    height: 40%;
    margin-top: -3%;
  }

  #steps .row>.central, img {
    width: 40%;
    height: 40%;
    margin-top: -8%;
  }

  #steps .row>.right, img {
    width: 40%;
    height: 40%;
    margin-top: -8%;
  }

  #steps .row>.left,
  #steps .row>.right,
  #steps .row>.central {
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* fine steps  */

/* inizio why  */
  #why .row>.first img,
  #why .row>.second img,
  #why .row>.third img   {
    width: 20%;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 95%;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #757575;
  }

  #why .row>.third {
    border: none;
  }

/* fine why  */